/* _________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER header[role="banner"]
9.NAVIGATION nav[role="navigation"]
10.CONTENT
11.MAIN div[role="main"]
12.COMPLIMENTARY div[role="complementary"]
13.CONTENTINFO footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC 
16.TEMPLATE SPECIFICS
17.MODERNIZR

COLOURS 

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline; }

/* 1.ROOT */

html, body {
overflow: hidden; }

body {
color: #000;
background: #fff;
font: 11px/1.636 "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* 2.HEADINGS */
/* 3.TYPOGRAPHY */

b,
strong { 
font-weight: bold; }

.meta {
color: #666; }

/* 4.LINKS */

a,
a:visited {
color: #548fa8;
text-decoration: none; }
 
a:hover { 
outline: none;
text-decoration: none; }
 
a:active { 
outline: none; }

a:focus {  }

/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS (See css/mylibs/forms.css) */
/* 8.BANNER */
/* 9.NAVIGATION */
/* 10.CONTENT */

#reader {
position: absolute;
width: 100%;
height: 100%; }

/* overrides */

.monelem_box .monelem_container {
background: none; }

.monelem_box .monelem_page {
right: 0;
bottom: 0;
border: none;
background: none; }

.monelem_box .monelem_sheaf {
top: 5%;
left: inherit;
right: inherit;
bottom: inherit;
width: 90%;
max-width: 33em;
height: 90%;
margin: 0 auto;
font-size: 16px; }

/* custom controls */

.bookTitle {
position: absolute;
top: 3%;
left: 6%;
padding: 0 2% 0 0;
cursor: default ! important;
background: #fff; }

.bookBack,
.bookBack:visited {
line-height: 1;
font-size: 18px;
color: #9d272d; }

.bookContents {
position: absolute;
top: 3%;
right: 6%;
margin: 0 1.5em 0 0;
font-size: 18px;
line-height: 1;
background: #fff; }

/* magnifier */

.monelem_box .monelem_controls_magnifier_button {
top: 3%;
right: 6%;
padding: 0;
font-family: georgia, serif;
color: #548fa8;
background: #fff; }

.monelem_box .monelem_controls_magnifier_A {
line-height: 1; }

/* spinner */

.monelem_box .monelem_controls_spinner_anim {
background-color: #fff; }

/* toc */

.monelem_box .monelem_controls_contents_container {
border: 1px solid #e2e2e2;
font: 14px/1.286 georgia, serif;
text-shadow: 1px 1px 0 #fff;
color: #548fa8;
background: #fff; }

.monelem_box .monelem_controls_contents_chapter {
border-bottom: 1px solid #e2e2e2; }

/* scrubber */

.monelem_box .monelem_controls_scrubber_container {
right: 6%;
bottom: 0%;
left: 6%;
background: none; }

.monelem_box .monelem_controls_scrubber_track {
border-color: #548fa8;
opacity: .5; }

.monelem_box .monelem_controls_scrubber_needle {
border-color: #548fa8;
background:  #e2e2e2;
opacity: .75; }

.monelem_box .monelem_controls_scrubber_trail {
background: #e2e2e2;
opacity: .5; }

.monelem_box .monelem_controls_scrubber_bubble {
display:none ! important;	}

/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */

body {
-webkit-user-select: none;
-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none; }

a:link { 
-webkit-tap-highlight-color: rgba(16,74,102,.2); }

::-moz-selection { 
background: #bff252;  
text-shadow: none; }

::selection { 
background: #bff252; 
text-shadow: none; }

/* mobile helper classes */

.nocallout {
-webkit-touch-callout: none; }

.gifhidden { 
position: absolute; 
left: -100%; }

/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */

/*===========================================================================
  DATA URIs

  These are data-uri packed images, inlined for loading speed and simplicity.
  Placed at the end of this file because they're visually noisy...
---------------------------------------------------------------------------*/

.monelem_box .monelem_controls_spinner_anim {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD0AAABECAMAAAAFkc3SAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBQTFRF5Ov14uTu9e3p/f79+vTu8/v+6vD4/vv25uLm6+rs7ebn8vHz+f7/8Pb74uLm////SUYNcAAAAghJREFUeNrUl+mCxBAMgGMoQ2nf/20X03FEYtvZ2cu/lk8icoF9MmQcs/kd+CljtziEfom+bccQ/jpd4DiWq7Rp4A2u0q6lWeEMbe7bGeHfQqvtjTR3ad8i+61W03N6CIfZfdfFmV6zJBu4g4sWPRYvB121FAstPFDurzPdHVFTjl5tY1y/FtAJNSGlaCR7W4Yd0M3WpUUnYEwZJ+C2cW7l8H5Y0OYHuuqukMGRD6R9R7rIOk6pqWzD09CrvnB6J82Jn7oV9rTDqHc8ExB/n96RNxYPr5SOkgLEcZ7atjQBbz55KjURCg2c5CQCSGMmrYpXBurMD/3y1oqanQ/tm/g29soGdvVDbkkVU5rVcozQwcu+rFKZSTlW1VN5zWBeyytZEV2DkPtXaP9jtBn8R4STtFR24h80HS86D+umXpJH8D1t7DU/FWulyQjSa13KRiGQWSMb+WG7bC86Coda8kxtvpQT4JIaVUta11LNVSsywsHQamOaUp6oJU0OvnVfjpBC0LrP54EtJVQ1KPF0LAe2jFH0giJlLIsTuoiSDncOWPd4bvSrSlJj1zJ0caiWNIHsiLYFr4XuVwN/+hfXkjYFML1QjUZRaklM4tauC5uausQk02IdZnlt6I7+bXcvf4/+w2+DeSFj37HsO/R+QjT/Bm46IXjh/V36B/3S2z/GUwoeP1nxIcAA2QLeo6Ct3MEAAAAASUVORK5CYII=);
}

div.monelem_panels_imode_toggleIcon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAjCAMAAABbyCHdAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBQTFRFsuH1d6vPjaK21vT99v3+iLzZscPP8+XY/fTl6vz/7t7QurC23OPn2cW+dKC1////XQ0VpAAAAPNJREFUeNq8k8sSgyAMRcMb1Mr//22ToEmwOtNFpywU7oFALgS6bSXn3CYF7OC1UwtPvDDeXXzgY/kc4Bc8xlvOMvTF45E4TB04cT9Tr3VYjKj5VT9SabAeQeFUeaY/VeG87GX+V062FPkJl6kUGDdIsjkHBTNIESe7YBXKP+9PDQ7/NmzZG5AyKuHi7yK03ftvrfjkVc8BceIbvqppe8yCpMC8KHH8sQl3KDad4c+qC6L6S8eqw1+jKU8jRdeswcpJ54VgrYD5/uV5i3reD6hBpkv3U7NPo6im+igow3/q41tu6+O2/vmqUnvk9NLCLLwFGAAayjbsDxXisAAAAABJRU5ErkJggg==);
}

/* MEDIA QUERIES */

/*Print __________________________________________________________________________________________________________ */
@media print {
* { 
background: transparent !important; 
color: black !important; 
text-shadow: none !important; 
filter: none !important;
-ms-filter: none !important; } 

a, a:visited { 
color: #444 !important; 
text-decoration: underline; }

a[href]:after { 
content: " (" attr(href) ")"; }

abbr[title]:after { 
content: " (" attr(title) ")"; }

a[href^="javascript:"]:after, 
a[href^="#"]:after { 
content: ""; }
  
pre, blockquote { 
border: 1px solid #999; 
page-break-inside: avoid; }

thead { 
display: table-header-group; }

tr, img { 
page-break-inside: avoid; }

@page { 
margin: .5cm; }

p, h2, h3 { 
orphans: 3; 
widows: 3; }

h2, h3 { 
page-break-after: avoid; }
}/*/mediaquery*/

/*480px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 480px) {

/* 1.ROOT */
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */
/* 8.BANNER */
/* 9.NAVIGATION */
/* 10.CONTENT */
/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */

}/*/mediaquery*/

/*600px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 600px) {

/* 1.ROOT */
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */
/* 9.NAVIGATION */
/* 10.CONTENT */
/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */

}/*/mediaquery*/

/*768px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 768px) {


/* 1.ROOT */

/* 1.ROOT */
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */
/* 8.BANNER */
/* 9.NAVIGATION */
/* 10.CONTENT */
/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */

}/*/mediaquery*/

/*960px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 992px) {

/* 1.ROOT */
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */
/* 8.BANNER */
/* 9.NAVIGATION */
/* 10.CONTENT */
/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */

}/*/mediaquery*/

/*1382px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 1382px) {

/* 1.ROOT */
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */
/* 9.NAVIGATION */
/* 10.CONTENT */
/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */

}/*/mediaquery*/

/*2x __________________________________________________________________________________________________________ */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

/* 1.ROOT */
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */
/* 8.BANNER */
/* 9.NAVIGATION */
/* 10.CONTENT */
/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */

}
